<ion-content padding>
  <ion-card>
    <div class="bg-div"> </div>
    <img src="../../assets/img/bg.jpg" />
    <div class="card-title">ESTACIONAMENTO</div>
    <div class="info">
      Estacionamento
    </div>
    <div class="acessar">
      <ion-button ion-button color="theme-light"  icon-start>
        <ion-icon name="chevron-up" style="font-size:xx-large" color="success"></ion-icon>
        <p style="font-size: 20px;">30</p>
      </ion-button>
      <ion-button ion-button color="theme-light" icon-start>
        <ion-icon name="chevron-down" style="font-size:xx-large" color="danger"></ion-icon>
      <p style="font-size: 20px;">5</p>
      </ion-button>
    </div>
  </ion-card>
  <ion-card>
    <div class="bg-div"> </div>
    <img src="../../assets/img/bg.jpg" />
    <div class="card-title">ESTACIONAMENTO</div>
    <div class="info">
      Estacionamento
    </div>
    <div class="acessar">
      <ion-button ion-button color="theme-light"  icon-start>
        <ion-icon name="chevron-up" style="font-size:xx-large" color="success"></ion-icon>
        <p style="font-size: 20px;">30</p>
      </ion-button>
      <ion-button ion-button color="theme-light" icon-start>
        <ion-icon name="chevron-down" style="font-size:xx-large" color="danger"></ion-icon>
      <p style="font-size: 20px;">5</p>
      </ion-button>
    </div>
  </ion-card>
  <ion-card>
    <div class="bg-div"> </div>
    <img src="../../assets/img/bg.jpg" />
    <div class="card-title">ESTACIONAMENTO</div>
    <div class="info">
      Estacionamento
    </div>
    <div class="acessar">
      <ion-button ion-button color="theme-light"  icon-start>
        <ion-icon name="chevron-up" style="font-size:xx-large" color="success"></ion-icon>
        <p style="font-size: 20px;">30</p>
      </ion-button>
      <ion-button ion-button color="theme-light" icon-start>
        <ion-icon name="chevron-down" style="font-size:xx-large" color="danger"></ion-icon>
      <p style="font-size: 20px;">5</p>
      </ion-button>
    </div>
  </ion-card>
  <ion-card>
    <div class="bg-div"> </div>
    <img src="../../assets/img/bg.jpg" />
    <div class="card-title">ESTACIONAMENTO</div>
    <div class="info">
      Estacionamento
    </div>
    <div class="acessar">
      <ion-button ion-button color="theme-light"  icon-start>
        <ion-icon name="chevron-up" style="font-size:xx-large" color="success"></ion-icon>
        <p style="font-size: 20px;">30</p>
      </ion-button>
      <ion-button ion-button color="theme-light" icon-start>
        <ion-icon name="chevron-down" style="font-size:xx-large" color="danger"></ion-icon>
      <p style="font-size: 20px;">5</p>
      </ion-button>
    </div>
  </ion-card>
  <ion-card>
    <div class="bg-div"> </div>
    <img src="../../assets/img/bg.jpg" />
    <div class="card-title">ESTACIONAMENTO</div>
    <div class="info">
      Estacionamento
    </div>
    <div class="acessar">
      <ion-button ion-button color="theme-light"  icon-start>
        <ion-icon name="chevron-up" style="font-size:xx-large" color="success"></ion-icon>
        <p style="font-size: 20px;">30</p>
      </ion-button>
      <ion-button ion-button color="theme-light" icon-start>
        <ion-icon name="chevron-down" style="font-size:xx-large" color="danger"></ion-icon>
      <p style="font-size: 20px;">5</p>
      </ion-button>
    </div>
  </ion-card>
  <ion-card>
    <div class="bg-div"> </div>
    <img src="../../assets/img/bg.jpg" />
    <div class="card-title">ESTACIONAMENTO</div>
    <div class="info">
      Estacionamento
    </div>
    <div class="acessar">
      <ion-button ion-button color="theme-light"  icon-start>
        <ion-icon name="chevron-up" style="font-size:xx-large" color="success"></ion-icon>
        <p style="font-size: 20px;">30</p>
      </ion-button>
      <ion-button ion-button color="theme-light" icon-start>
        <ion-icon name="chevron-down" style="font-size:xx-large" color="danger"></ion-icon>
      <p style="font-size: 20px;">5</p>
      </ion-button>
    </div>
  </ion-card>
  <ion-card>
    <div class="bg-div"> </div>
    <img src="../../assets/img/bg.jpg" />
    <div class="card-title">ESTACIONAMENTO</div>
    <div class="info">
      Estacionamento
    </div>
    <div class="acessar">
      <ion-button ion-button color="theme-light"  icon-start>
        <ion-icon name="chevron-up" style="font-size:xx-large" color="success"></ion-icon>
        <p style="font-size: 20px;">30</p>
      </ion-button>
      <ion-button ion-button color="theme-light" icon-start>
        <ion-icon name="chevron-down" style="font-size:xx-large" color="danger"></ion-icon>
      <p style="font-size: 20px;">5</p>
      </ion-button>
    </div>
  </ion-card>
  <ion-card>
    <div class="bg-div"> </div>
    <img src="../../assets/img/bg.jpg" />
    <div class="card-title">ESTACIONAMENTO</div>
    <div class="info">
      Estacionamento
    </div>
    <div class="acessar">
      <ion-button ion-button color="theme-light"  icon-start>
        <ion-icon name="chevron-up" style="font-size:xx-large" color="success"></ion-icon>
        <p style="font-size: 20px;">30</p>
      </ion-button>
      <ion-button ion-button color="theme-light" icon-start>
        <ion-icon name="chevron-down" style="font-size:xx-large" color="danger"></ion-icon>
      <p style="font-size: 20px;">5</p>
      </ion-button>
    </div>
  </ion-card>
  <ion-card>
    <div class="bg-div"> </div>
    <img src="../../assets/img/bg.jpg" />
    <div class="card-title">ESTACIONAMENTO</div>
    <div class="info">
      Estacionamento
    </div>
    <div class="acessar">
      <ion-button ion-button color="theme-light"  icon-start>
        <ion-icon name="chevron-up" style="font-size:xx-large" color="success"></ion-icon>
        <p style="font-size: 20px;">30</p>
      </ion-button>
      <ion-button ion-button color="theme-light" icon-start>
        <ion-icon name="chevron-down" style="font-size:xx-large" color="danger"></ion-icon>
      <p style="font-size: 20px;">5</p>
      </ion-button>
    </div>
  </ion-card>

</ion-content>