:host {
    --st-base-color-inactive: var(--ion-color-medium);
    --st-base-color-active: var(--ion-color-secondary);
    --st-icon-color-active: var(--ion-color-secondary-tint);
    --st-indicator-color: var(--ion-color-secondary-tint);
  }